body {
  margin: 0px;
  text-align: center;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.page {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.links {
  margin: auto;
  padding: 10% 0;
}

.linkContainer {
  display: inline-flex;
  justify-content: center;
  width: 30%;
  min-width: 60px;
  height:100%;
}

.linkContainer img {
  --size: 55px;
  width: var(--size);
  height: var(--size);
}

#topPage p {
  margin: 0 5%;
  font-size: 28px;
  font-family: 'Jaldi', sans-serif;
}

.stickmanContainer {
  height: 200px;
  margin: auto;
  margin-top: 5%;
}

#bottomPage {
  background-color: #ffffff;
}

.tabs {
  padding: 5vh 5% 0px 5%;
}

.tabHeader {
  background: none;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 4px 15px;
  font-size: 26px;
  font-family: 'Jaldi', sans-serif;
  color: #636363;
  float: left;
}

.tabHeader.active {
  border-bottom: none;
  background: #ececec;
  color: black;
}

.tabHeader:focus {
  outline: none;
  text-decoration: underline;
}

#tabContent {
  height: calc(90vh - 37px);
  width: 90%;
  margin: 0px auto;
  background: #ececec;
  border-radius: 10px;
  border-top-left-radius: 0px;
  overflow-y: scroll;
}

.contentItem {
  margin: 0 2%;
  width: 96%;
  padding: 0;
  border: 0;
  font-family: inherit;
  text-align: left;
  background: none;
}

.contentItem hr {
  width: 100%;
}

.contentItem h1 {
  width: 90%;
  margin: 0px auto 5px auto;
  padding-top: 15px;
  font-size: 24px;
  font-family: 'Jaldi', sans-serif;
}

.contentItem p {
  width: 90%;
  margin: 5px auto;
  padding-bottom: 10px;
  font-size: 17px;
  font-family: 'Jaldi', sans-serif;
}
.contentItem:hover {
  background: #f3f3f3;
}

@media (min-width:   800px) {
  .links {
    width:80%;
    padding:5%;
  }

  .linkContainer img {
    --size: 75px;
  }
}
